<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518715195117-nhi7pfgfamctl78o3u831bnfq8rkk3f1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518715195117-nhi7pfgfamctl78o3u831bnfq8rkk3f1</string>
	<key>API_KEY</key>
	<string>AIzaSyB4-tQovRvHyjhUIttVcUbam-iPrEtDDeE</string>
	<key>GCM_SENDER_ID</key>
	<string>518715195117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>holiverleite.EventManagerApp</string>
	<key>PROJECT_ID</key>
	<string>eventmanager-f3aa0</string>
	<key>STORAGE_BUCKET</key>
	<string>eventmanager-f3aa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518715195117:ios:f83480f92e0c10e4</string>
	<key>DATABASE_URL</key>
	<string>https://eventmanager-f3aa0.firebaseio.com</string>
</dict>
</plist>